{% extends 'layout.html' %}
{% block preview %}
    <div id="project1" class="a-project">
        <h3>Project Title</h3>
        <a href="{{ url_for('project_preview', id=project.id)}}" class="github-btn">
            <i class="fab fa-github"></i>
            View on GitHub
        </a>
        <p>
            Pastry wafer chocolate cake caramels. 
            Gummi bears pudding sugar plum macaroon. 
        </p>
        <p>
            Skills: Pastry wafer chocolate cake caramels. 
            Gummi bears pudding sugar plum macaroon. 
        </p>
    </div>
{% endblock %}